In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("housing.csv")

In [5]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
df.shape

(20640, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [8]:
df = pd.DataFrame(df)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [9]:
#eda
#!pip install sweetviz

In [10]:
import sweetviz as sv
#report = sv.analyze(df)
#report.show_html("./report.html")

In [11]:
## Data Veri ön işleme

In [12]:
## Feature Engineering

#!pip install geopy

In [13]:
##feature engineering

from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geoapiExercises")

In [14]:
location = geolocator.reverse("37.88,-122.23")
print(location.address)
print((location.latitude, location.longitude))
print(location.raw["address"])

Ecological Study Area, Centennial Drive, Oakland, Alameda County, California, 94720-1076, United States
(37.87563745, -122.22856355341203)
{'leisure': 'Ecological Study Area', 'road': 'Centennial Drive', 'city': 'Oakland', 'county': 'Alameda County', 'state': 'California', 'postcode': '94720-1076', 'country': 'United States', 'country_code': 'us'}

In [15]:
def location(cord):
    Latitude = str(cord[1])
    Longitude = str(cord[0])
    """coordinates = Latitude+","+Longitude"""
    
    location = geolocator.reverse(Latitude+","+Longitude).raw["address"] #raw returns a dictionary
    
    if location.get("road") is None:
        location['road'] = None
        
    if location.get("county") is None:
        location['county'] = None
        
    if location.get("neighbourhood") is None:
        location['neighbourhood'] = None
    
    loc_update['county'].append(location['county']) 
    loc_update['road'].append(location['road'])
    loc_update['neighbourhood'].append(location['neighbourhood'])

In [16]:
import pickle
"""
loc_update={"county":[], "road":[], "neighbourhood":[]}

for i,cord in enumerate(df.iloc[:,0:2].values):
    location(cord)
    ##continously reading our data and saving it on the go
    pickle.dump(loc_update, open("loc_update.pickle","wb"))
    
    if i%500==0:
        print(i)"""

'\nloc_update={"county":[], "road":[], "neighbourhood":[]}\n\nfor i,cord in enumerate(df.iloc[:,0:2].values):\n    location(cord)\n    ##continously reading our data and saving it on the go\n    pickle.dump(loc_update, open("loc_update.pickle","wb"))\n    \n    if i%500==0:\n        print(i)'

In [17]:
loc_update = pickle.load(open("loc_update.pickle","rb"))

In [18]:
loc = pd.DataFrame(loc_update)

In [19]:
loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   county         20640 non-null  object
 1   road           19522 non-null  object
 2   neighbourhood  2190 non-null   object
dtypes: object(3)
memory usage: 483.9+ KB

In [20]:
for i in loc_update.keys():
    df[i] = loc_update[i]

df = df.sample(axis=0, frac= 1)
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,county,road,neighbourhood
19282,-122.72,38.42,30.0,2099.0,406.0,1156.0,401.0,2.8036,152300.0,<1H OCEAN,Sonoma County,Pinewood Drive,None
17343,-120.41,34.86,15.0,978.0,187.0,407.0,182.0,4.3750,158000.0,<1H OCEAN,Santa Barbara County,None,None
12270,-117.06,34.00,33.0,1575.0,326.0,879.0,282.0,2.5357,94400.0,INLAND,Riverside County,Calimesa Boulevard,None
7198,-118.19,34.03,42.0,2250.0,629.0,2588.0,609.0,1.9719,134200.0,<1H OCEAN,Los Angeles County,East 5th Street,None
11038,-117.80,33.83,17.0,2971.0,350.0,1180.0,346.0,11.1228,500001.0,<1H OCEAN,Orange County,Cerro Villa Drive,None
9487,-123.22,39.28,16.0,5569.0,1106.0,3148.0,1088.0,3.1455,142900.0,<1H OCEAN,Mendocino County,West Road,None
17952,-121.96,37.34,37.0,663.0,127.0,293.0,132.0,3.7813,247800.0,<1H OCEAN,Santa Clara County,Malarin Avenue,None
1814,-122.31,37.91,43.0,2549.0,511.0,1060.0,528.0,3.6417,178400.0,NEAR BAY,Contra Costa County,Mendocino Street,Richmond Annex
6396,-118.03,34.14,44.0,1446.0,250.0,721.0,243.0,4.7308,352200.0,INLAND,Los Angeles County,Huntington Drive,None
3227,-119.64,36.32,32.0,2205.0,523.0,1772.0,479.0,1.3569,43100.0,INLAND,Kings County,South Green Street,None

In [21]:
df = df.drop(labels = ["latitude", "longitude", "neighbourhood", "ocean_proximity"], axis=1)
df.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,county,road
19282,30.0,2099.0,406.0,1156.0,401.0,2.8036,152300.0,Sonoma County,Pinewood Drive
17343,15.0,978.0,187.0,407.0,182.0,4.3750,158000.0,Santa Barbara County,None
12270,33.0,1575.0,326.0,879.0,282.0,2.5357,94400.0,Riverside County,Calimesa Boulevard
7198,42.0,2250.0,629.0,2588.0,609.0,1.9719,134200.0,Los Angeles County,East 5th Street
11038,17.0,2971.0,350.0,1180.0,346.0,11.1228,500001.0,Orange County,Cerro Villa Drive

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20640 entries, 19282 to 17077
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   housing_median_age  20640 non-null  float64
 1   total_rooms         20640 non-null  float64
 2   total_bedrooms      20433 non-null  float64
 3   population          20640 non-null  float64
 4   households          20640 non-null  float64
 5   median_income       20640 non-null  float64
 6   median_house_value  20640 non-null  float64
 7   county              20640 non-null  object
 8   road                19522 non-null  object
dtypes: float64(7), object(2)
memory usage: 1.6+ MB

In [23]:
df.isnull().sum()

housing_median_age       0
total_rooms              0
total_bedrooms         207
population               0
households               0
median_income            0
median_house_value       0
county                   0
road                  1118
dtype: int64

In [24]:
df.iloc[:,2].isnull().sum()

207

In [25]:
df.iloc[:,2].fillna(method="ffill", inplace=True)

In [26]:
df.isnull().sum()

housing_median_age       0
total_rooms              0
total_bedrooms           0
population               0
households               0
median_income            0
median_house_value       0
county                   0
road                  1118
dtype: int64

In [27]:
#classification alg to fill the missin road values

In [28]:
#logistic regression

missing_idx=[]

for i in range(df.shape[0]):
    
    if df["road"][i] is None:
        missing_idx.append(i)
#indipendent parametres
missing_road_X_train= np.array([[ df["median_income"][i], df["total_rooms"][i] ] for i in range(df.shape[0]) if i not in missing_idx ])
#dependent
missing_road_y_train= np.array([ df["road"][i] for i in range(df.shape[0]) if i not in missing_idx ])

missing_road_X_test= np.array([[ df["median_income"][i], df["total_rooms"][i]] for i in range(df.shape[0]) if i in missing_idx ])

In [29]:
from sklearn.linear_model import LogisticRegression 

model_1 = LogisticRegression()

model_1.fit(missing_road_X_train, missing_road_y_train)

missing_road_y_pred = model_1.predict(missing_road_X_test)

C:\Users\lechi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [30]:
np.unique(missing_road_y_pred)

array(['San Diego Freeway', 'West Manchester Avenue'], dtype='<U77')

In [31]:
#add the model back to data frame

for n,i in enumerate(missing_idx):
    df["road"][i] = missing_road_y_pred[n]

from sklearn.preprocessing import LabelEncoder

le= LabelEncoder()

df["road"] = le.fit_transform(df["road"])

C:\Users\lechi\AppData\Local\Temp/ipykernel_3452/3013836979.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["road"][i] = missing_road_y_pred[n]

In [32]:
#########################################

In [33]:
le= LabelEncoder()

df["county"] = le.fit_transform(df["county"])

In [34]:
########################

In [35]:
df.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,county,road
19282,30.0,2099.0,406.0,1156.0,401.0,2.8036,152300.0,51,6167
17343,15.0,978.0,187.0,407.0,182.0,4.3750,158000.0,44,8722
12270,33.0,1575.0,326.0,879.0,282.0,2.5357,94400.0,35,1229
7198,42.0,2250.0,629.0,2588.0,609.0,1.9719,134200.0,20,2302
11038,17.0,2971.0,350.0,1180.0,346.0,11.1228,500001.0,32,1500

In [36]:
y= df.iloc[:,-3]
df.drop(labels=["median_house_value"], axis=1, inplace=True)

X= df.iloc[:, :].values

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [38]:
from sklearn.ensemble import RandomForestRegressor 
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [39]:
y_pred = model.predict(X_test)

In [40]:
from sklearn.metrics import r2_score 

r2_score(y_test, y_pred)

0.7301228812113122

In [48]:
inp=np.array([30.0,2099.0,406.0,1156.0,401.0,2.8036,51,6167])

In [49]:
ip= inp.reshape((1,-1))

In [50]:
model.predict(ip)

array([173947.])